:root {
    --primary: blanchedalmond;
    --accent-font: #952618;
    --accent: rgb(183, 132, 105);
 }
body {
    background-color: var(--primary);
    color: var(--accent-font);
    font-family: 'Cormorant Infant', serif;
}
.menu {
    background-color: var(--accent);
    width: 100%;
    height: 20%;
    display: flex;
    font-family: 'Playfair Display SC', serif;
}
img {
    display: flex;
    height: 100%;
    width: 50%;
    margin-left: 10px;
    border-radius: 15px 0px 0px 0px;
}
h1 {
    display: flex;
    align-items: center;
    width: 55%;
    font-size: xx-large;
    color:var(--primary);
}
.contact {
    align-items: center;
    color:var(--primary);
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-right: 20px;
    font-size: xx-large;
}
a:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.recipe-image {
    width: 303px;
    display: flex;
}
.top-part, .middle-part {
    display: flex;
    justify-content: center;
}
.recipe-containter {
    box-shadow: 0px 0px 50px 15px rgba(92, 49, 20, 0.19);
    margin-top: 15px;
    width: 100%;
}
h2 {
    font-size: xx-large;
    color: black;
}
.ingredients {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 10px;
}
li {
    margin: 10px 0px 0px 10px;
}
.instructions-containter {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: double var(--accent-font);
}
p {
    margin-top: 10px;
    font-size: x-large;
}
.contents {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.sidebar-containter {
    margin: 15px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(var(--accent), var(--primary));
}
aside .sidebar ul li a {
    color: var(--accent-font);
    font-size: x-large;
}
.sidebar {
    margin: 10px;
}
.way-to-cook, .instructions {
    margin: 5px;
}

/* Adaptive design */
@media only screen and (max-width:992px) {
    .logo {
        display: none;
    }
    h1 {
      margin: 15px;
    }
  }
@media only screen and (max-width:700px) {
    .contents {
        display: block;
    }
  }
@media only screen and (max-width:500px) {
    .top-part {
        flex-direction: column;
        justify-content: center;
    }
    img {
        border-radius: 15px;
    }
    .menu {
        width: 100vw;
    }
    .contact, h1 {
        font-size: x-large;
    }
  }
